---
---

// ==========================================================================
// <ENTER PROJECT NAME>
// ==========================================================================


//
// SETTINGS
// ==========================================================================
@import "settings/all";


//
// TOOLS
// ==========================================================================
@import "tools/all";


//
// RESETS
// ==========================================================================
@import "resets/all";


//
// ELEMENTS
// ==========================================================================
@import "elements/elements.page";
@import "elements/elements.headings";
@import "elements/elements.links";


/*
   OBJECTS
   ========================================================================== */
@import "objects/wrappers";
@import "objects/layout";


/*
   UTILITIES
   ========================================================================== */
@import "utilities/widths";

html {
  background: #F5F7F0;
  color: #424F19;
}

.placeholder-heading {
  margin-top: 10rem;
  text-align: center;
}

p {
  text-align: center;
}
