<footer class="band-small band--tint page-foot" id="contact">

  <div class="o-wrapper">
    
    <div class="o-layout">
      <div class="o-layout__item u-1/2@lg u-1/2@md u-1/1@sm">
        <img src="/images/logo-footer.svg" alt="">
      </div>

      <div class="o-layout__item u-1/2@lg u-1/2@md u-1/1@sm">
        <p class="footer-contact"><b>Contact</b><br>Farm Shop: 01761 220067 & Tearooms: 01761 220172 <br>Dairy: 01761 298200 <br>Accounts: 01761 221288</p>
      </div>
    </div>

  </div>

  <div class="band--dark page-foot__secondary">
    <div class="o-wrapper">

      <div class="o-layout">
        
        <div class="o-layout__item u-2/3@lg u-2/3@md u-1/1@sm">
          <span>© 2018 | New Manor Farm | Chew Valley Dairy - Reg: 8450040 | South Widcombe Dairy - Reg: 07207694</span>
        </div>

        <div class="o-layout__item u-1/3@lg u-1/3@md u-1/1@sm">
          <ul class="social-list">
            <li><a href="https://www.facebook.com/Newmanorfarmshop/" target="_blank">Facebook</a></li>
          </ul>
        </div>

      </div>

    </div>
  </div>

</footer>
