/* ==========================================================================
   WRAPPERS
   ========================================================================== */

.o-wrapper {
  @include clearfix();
  max-width: 960px + ($global-spacing-unit * 6);
  padding-right: $global-spacing-unit * 3;
  padding-left:  $global-spacing-unit * 3;
  margin-right: auto;
  margin-left:  auto;
}
