// ==========================================================================
// GLOBAL SETTINGS
// ==========================================================================
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Base typographical styles and baseline grid.
$font-family: 'Cormorant Garamond', serif;
$global-font-size:    18px !default;
$global-line-height:  30px !default;

// Standardise some UI treatments.
$global-radius:       3px !default;
$global-transition:   0.333333333s !default;
$global-spacing-unit: 8px;

// Styles specific to page headers. Implemented in
// `_components.page-head[--masthead].scss`, but defined globally here.
$header-border-width:   6px;
$header-max-height:     480px;
