// ==========================================================================
// PAGE
// ==========================================================================
// Page-level styling (e.g. HTML and BODY elements).


html {
  font-size: $global-font-size;
  font-family: $font-family;
  line-height: $global-line-height;
  color: $color-page-text;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


img {
  max-width: 100%;
}
