.btn {
  background: #424F19;
  color: #fff;
  border: none;
  outline: none;
  font-family: $font-family;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 8px;
  padding: $global-spacing-unit * 1 $global-spacing-unit * 3;
  display: block;
}

input,
textarea {
  display: block;
  margin: $global-spacing-unit * 4 auto;
  font-family: $font-family;
  padding: $global-spacing-unit * 1 $global-spacing-unit * 2;
  outline: none;
  border-radius: 8px;
  border: 1px solid #424F19;
  width: 100%;
}

textarea {
  height: 150px;
}

form {
  display: block;
  width: 75%;
  margin: 0 auto;

  @include mq($until: md) {
    width: 100%;
  }
}

.form-heading {
  text-align: center;
}

iframe {
  width: 90%;
  display: block;
  margin-bottom: $global-spacing-unit * 8;
}
