// ==========================================================================
// MQ CONFIGURATION
// ==========================================================================
// Pre-configuration for Sass MQ.

$mq-breakpoints: (
  tiny: 480px,
  small: 720px,
  md: 1024px,
  large: 1200px,
);
